/* this is my css page for google exercise */

body {
    font-family: "open sans", Arial, Helvetica;
    font-size: 13px;
}

.top-nav {
    
}
.nav-list-right {
    flex: 2 auto;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    float: right;
}
.nav-list-left {
    flex: 2 auto;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    float: left;
}
.nav-list-left #About {
    padding: 5px;
    display: flex;
    flex: 2 auto;
}
.nav-list-left #Store {
    padding: 5px;
    display: flex;
    flex: 2 auto;
}
.nav-list-right #Gmail {
    padding: 5px;
    display: flex;
    flex: 2 auto;
}
.nav-list-right #Images {
    padding: 5px;
    display: flex;
    flex: 2 auto;
}
.nav-list-right #Apps {
    padding: 5px;
    display: flex;
    flex: 2 auto;
}
.nav-list-right #Sign-In {
    padding: 5px;
    display: flex;
    flex: 2 auto;
}
.body {
   
}
.footer {
    list-style: none;
    
}
