/* this is my css page for google exercise */

.left-head {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    box-align: top;
    z-index: -1;
    position: relative;
}
.top-nav {
    flex: 1 auto;
    padding: 10px 10px 10px 0;
}
.nav-list {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
    box-align: top;
    z-index: -1;
    position: relative;
}
.body {
    font-size: 13px;
    font-family: "open sans", Arial, Helvetica;
    display: flex;
    flex-flow: column;
    /* width: 100%;*/
    min-height: 100vh;
    /* min-width: 540px; */
    /* min-height: 500px; */
}
